@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.base-nav-item {
    float: left;
}

.nav-item-link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
}

.home-button-container {
    display: flex;
    flex-direction: column;
}

.top-data-img{
    max-width: 100%;
}
.top-data-list {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    padding: 0;
}

.top-data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.data-container {
    display: flex;
    justify-content: center;
}