@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.base-nav{
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.base-nav-item {
    float: left;
}

.nav-item-link {
    display: block;
    text-decoration: none;
}

.hamburger-icon {
    display: none;

}

.btn {
    padding: 14px 16px;
}

.btn:hover {
    background-color: #aaa;
    transition: background-color 250ms linear;
}

.time-period-selector {
    display: flex;
    justify-content: center;
}

.home-button-container {
    display: flex;
    flex-direction: column;
}

.top-data-img {
    max-width: 100%;
}

.top-data-list {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    padding: 0;
}

.top-data-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.data-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.graph-data-list {
    grid-template-columns: none;
    width: 100%;
}

.graph-data-img {
    width: 100%;
}


@media screen and (max-width: 600px) {
    .nav-bar .base-nav-item:not(:first-child) {
        display: none;
    }
    .hamburger-icon {
        float: right;
        display: block;
    }
    .nav-bar.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-bar.responsive .base-nav-item {
        display: list-item;
    }
}