<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="base-nav">
        <ul class="nav-bar">
            <li class="base-nav-item">
                <a href="{{ url_for('home') }}" class="btn nav-item-link">Home</a>
            </li>
            <li class="base-nav-item">
                <a href="{{ url_for('top_artists_default') }}" class="btn nav-item-link">Top Artists</a>
            </li>
            <li class="base-nav-item">
                <a href="{{ url_for('top_tracks_default') }}" class="btn nav-item-link">Top Tracks</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
    
</body>
</html>