<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>

    <nav class="base-nav">
        <ul class="nav-bar">
            <li class="base-nav-item">
                <a href="{{ url_for('home') }}" class="btn nav-item-link">Home</a>
            </li>
            <li class="base-nav-item">
                <a href="{{ url_for('top_artists_default') }}" class="btn nav-item-link">Top Artists</a>
            </li>
            <li class="base-nav-item">
                <a href="{{ url_for('top_tracks_default') }}" class="btn nav-item-link">Top Tracks</a>
            </li>
            <li class="base-nav-item">
                <a href="{{ url_for('graphs') }}" class="btn nav-item-link">Graphs</a>
            </li>
        </ul>
        <li class="hamburger-icon">
            <a href="javascript:void(0);" class="icon btn nav-item-link" onclick="nav_bar_responsive()">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>

</body>

</html>