<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }} | TuneTracklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    {% block head %}

    {% endblock head %}
</head>

<body>

    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ url_for('home') }}" class="link nav-home">TuneTracklist</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('top_artists_default') }}" class="link">Top Artists</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('top_tracks_default') }}" class="link">Top Tracks</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('recent') }}" class="link">Recently Played</a>
            <li class="nav-item">
                <a href="{{ url_for('graphs') }}" class="link">Graphs</a>
            </li>
            <li class="hamburger-icon">
                <a href="javascript:void(0);" class="icon link" onclick="nav_bar_responsive()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Mohammed Ahmed. All rights reserved.</p>
            <p>Find out more about me at <a href="https://mo-ahmed.dev" class="link">mo-ahmed.dev</a></p>
        </div>
    </footer>

</body>

</html>
