{% extends "base.html" %}
{% block content %}
    <div class="home-container">
        <div class="home-list">
            <li class="home-item">
                <a class="link" href="{{ url_for('top_artists_default') }}">Top Artists</a>
            </li>
            <li class="home-item">
                <a class="link" href="{{ url_for('top_tracks_default') }}">Top Tracks</a>
            </li>
        </div>
        <div class="explain-chart">
            <div class="explain-row">
                <h2 class="explain-heading">Top Artists</h2>
                <p class="explain-text">Curious to know which artists have captivated your ears the most? Our Top Artists section reveals the musical maestros who have become the soundtrack to your life. Whether you've been rocking out to the latest hits or exploring niche genres, we'll showcase the top artists that have left a lasting impression on your listening habits. Prepare to discover hidden gems and celebrate your musical taste with pride.</p>
            </div>
            <div class="explain-row">
                <h2 class="explain-heading">Top Tracks</h2>
                <p class="explain-text">Sometimes a song becomes more than just a tune—it becomes an anthem. Which tracks have resonated with you the most? Our Top Tracks section unravels the melodies that have occupied your playlists on repeat. Whether it's the infectious beats that get you moving or the heartfelt lyrics that strike a chord, we'll showcase the tracks that have defined your music journey. Get ready to relive those spine-tingling moments and rediscover the magic of your favorite songs.</p>
            </div>
            <div class="explain-row">
                <h2 class="explain-heading">Choose Your Timeframe</h2>
                <p class="explain-text">We understand that musical preferences can evolve over time. That's why we give you the power to choose your preferred timeframe. Want to explore your recent obsessions? Opt for the Short Term option to unveil the artists and tracks that have been on heavy rotation in your daily life. If you're curious about your musical trends over the past few months, the Medium Term selection will shed light on your evolving tastes. And for those who want to delve into the long-lasting musical memories, the Long Term choice will showcase the timeless favorites that have stood the test of time.</p>
            </div>

        </div>
    </div>
{% endblock content %}