{% extends "base.html" %}
{% block content %}
    <h1>Top Artists</h1>

    <div class="time-period-selector">
        <a class="btn" href="{{ url_for('top_artists', time_period='short_term') }}">Short Term</a>
        <a class="btn" href="{{ url_for('top_artists', time_period='medium_term') }}">Medium Term</a>
        <a class="btn" href="{{ url_for('top_artists', time_period='long_term') }}">Long Term</a>
    </div>

    <div class="data-container">
        <div class="top-data-list">
            {% for artist in top_artists %}
                <div class="top-data-item">
                    <a href="{{ artist['external_urls']['spotify'] }}"><img class="top-data-img" src="{{ artist['images'][1]['url'] }}" alt="Image of {{ artist['name'] }}"></a>
                    {{ loop.index }}. {{ artist["name"] }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}