{% extends "base.html" %}
{% block content %}
    <h1>Top Tracks</h1>

    <div class="time-period-selector">
        <a class="btn" href="{{ url_for('top_tracks', time_period='short_term') }}">Short Term</a>
        <a class="btn" href="{{ url_for('top_tracks', time_period='medium_term') }}">Medium Term</a>
        <a class="btn" href="{{ url_for('top_tracks', time_period='long_term') }}">Long Term</a>
    </div>

    <div class="data-container">
        <div class="top-data-list">
            {% for track in top_tracks %}
                <div class="top-data-item">
                    <a href="{{ track['external_urls']['spotify'] }}"><img class="top-data-img" src="{{ track['album']['images'][1]['url'] }}" alt="Cover art for {{ track['name'] }}"></a>
                    {{ loop.index }}. {{ track["name"] }}
                </div>
            {% endfor %}
        </div>
    </div>    
{% endblock content %}