{% extends "base.html" %}
{% block content %}
    <h1>Top Tracks</h1>
    <div class="data-container">
        <div class="top-data-list">
            {% for track in top_tracks %}
                <div class="top-data-item">
                    <img class="top-data-img" src="{{ track['album']['images'][1]['url'] }}" alt="Cover art for {{ track['name'] }}">
                    {{ loop.index }}. {{ track["name"] }}
                </div>
            {% endfor %}
        </div>
    </div>    
{% endblock content %}