{% extends "base.html" %}
{% block content %}
    <h1>Top Artists</h1>
    <div class="data-container">
        <div class="top-data-list">
            {% for artist in top_artists %}
                <div class="top-data-item">
                    <img class="top-data-img" src="{{ artist['images'][1]['url'] }}" alt="Image of {{ artist['name'] }}">
                    {{ loop.index }}. {{ artist["name"] }}
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}